#General
*.log

#folders
*.cache

#Files Make
autoscan.log
configure.scan
config.status

ABOUT-NLS
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
configure.lineno
cov-int
cscope.in.out
cscope.out
cscope.po.out
intl
libtool
Makefile
Makefile.in
*.tar.gz

#Ignorate build and lib dirs
build
lib/*

#Ignorate exes
bin/*
sbin
tmp

########################
## Sublime Text files
########################

*.pyc
*.sublime-project
*.thTheme.cache
*.sublime-workspace


#############
## Vagrant stuff
#############

/.vagrant
/website/.vagrant
/website/build
/vagrant-spec.config.rb

#############
## Bundler/Rubygems
#############

*.gem
.bundle
pkg/*
tags
/Gemfile.lock
test/tmp/
vendor/
/exec

# Ruby Managers
.rbenv
.ruby-gemset
.ruby-version
.rvmrc

#############
## NPM
#############
npm-debug.log

#npm
node_modules
#bower
bower_components

#############
## Python
#############

*.py[co]
*~
*.mo
*.egg
*.EGG
*.egg-info
*.EGG-INFO


# Packages
#
*.eggs
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

#############
## Test suites
#############
#
.tox

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini