base-devel
autoconf
bash
libtool
automake
installwatch
#autoheader
pkg-config
gettext
stow
devtools
git
make
tree
retext
doxygen
coreutils
setuptools
python2-pip
docker
debootstrap
python2-virtualenv
python2-virtualenvwrapper
npm
nodejs
bower
screen
gulp
wxpython2.8
wxpython
nwjs-bin
python2-twine
thinkingrock
devtodo-git
lighttable
sublime-text-dev
atom
