[user]
	name = Armando Ibarra
	email = armandoibarra1@gmail.com
[core]
	autocrlf = input
	safecrlf = true
	editor = subl3
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	last = log -1 HEAD
	graph = log --graph --color --pretty=format:"%C(yellow)%H%C(green)%d%C(reset)%n%x20%cd%n%x20%cn%x20(%ce)%n%x20%s%n"
[color]
	ui = true