[user]
	name = Armando Ibarra
	email = armandoibarra1@gmail.com
[core]
	autocrlf = input
	safecrlf = true
	editor = subl3
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	last = log -1 HEAD
[color]
	ui = true